<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Garpix CloudPayments</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://widget.cloudpayments.ru/bundles/cloudpayments"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body class="container">
    <h1>Пример формы оплаты</h1>
    <p><code>payment_uuid</code>: {% if payment_uuid %}{{ payment_uuid }}{%else%} <i class="text-danger">Undefined</i> {%endif%}</p>
    <p>Свойство в модели <b>Payment</b> которое нужно передать в форму.</p>
    <a href="/admin/garpix_cloudpayments/payment/">Создать платежку</a>

    <hr />
    <form class="lead">
        <label>Номер заказа (payment_uuid):
            <input type="text" {% if payment_uuid %} required value="{{payment_uuid}}" {% endif %} name="payment_uuid" class="jsPaymentUUID">
        </label><br>
        <button onclick="getDataAndPay(); return false;" class="btn btn-primary btn-lg">Оплатить</button>
    </form>
    <hr />

    <p>Ссылка на документацию: <a href="https://developers.cloudpayments.ru/#api">API Cloud Payments</a></p>
    <section>
        <p>Тестовая карта для проверки:</p>
        <ul>
            <li>Номер карты: <code>4111 1111 1111 1111</code></li>
            <li>ММ: <code>10</code></li>
            <li>ГГ: <code>21</code> (текущий год)</li>
            <li>CVC: <code>888</code></li>
        </ul>
    </section>
<script>
    const pathPaymentData = "/cloudpayments/payment_data/?payment_uuid="

    function getDataAndPay() {
        const paymentUUID = document.querySelector('.jsPaymentUUID').value;

        axios.get(pathPaymentData + paymentUUID)
        .then(function (paymentData) {
            pay(paymentData);
        });
    }


    function pay(paymentData) {
        let widget = new cp.CloudPayments();
        console.log('pay: ', paymentData.data);

        let preparePaymentData = {
            publicId: paymentData.data["publicId"],
            description: paymentData.data["description"],
            amount: Number(paymentData.data["amount"]),
            currency: paymentData.data["currency"],
            invoiceId: paymentData.data["invoiceId"],
            skin: "mini"
        }

        widget.pay('auth',
            preparePaymentData,
            {
                onSuccess: function (options) { // success
                    //действие при успешной оплате
                    alert('Success. See console.');
                    console.log(options, preparePaymentData);
                },
                onFail: function (reason, options) { // fail
                    //действие при неуспешной оплате
                    alert('Fail. See console.');
                    console.log(reason, options, preparePaymentData);
                },
                onComplete: function (paymentResult, options) {
                    //Вызывается как только виджет получает от api.cloudpayments ответ с результатом транзакции.
                    //например вызов вашей аналитики Facebook Pixel
                    alert('Complete. See console.')
                    console.log(paymentResult, options, preparePaymentData);
                }
            }
        )
    };

</script>
</body>
</html>